<div *ngIf="hero">
  <form class="" action="index.html" method="post">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input class="form-control" [(ngModel)]="hero.name" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="ubicacion">Ubicación</label>
      <input class="form-control" [(ngModel)]="hero.location" name="ubicacion" placeholder="Ubicación">
    </div>
    <div>
      <label>
        Necesidades:
      </label>
        <ul>
          <li>
            <div class="input-group">
              <input class="form-control"type="text" name="addNeed" [(ngModel)]="newNeed">
              <div class="input-group-append">
                <button class="btn btn-primary" (click)="addNeed(newNeed)" type="button">Agregar</button>
              </div>
            </div>
          </li>
          <li *ngFor="let need of hero.needs" class="mt-15">
              <span>{{need}}</span>
              <div class="float-right display-inlineblock">
              <button class="btn btn-success"(click)="markedDelivered(need)">Y</button>
              <button class="btn btn-danger" (click)="markedCanceled(need)">N</button>
            </div>
          </li>
        </ul>
    </div>
  </form>
  <div class="float-right">
    <button class="btn btn-secondary" (click)="goBack()">Volver</button>
    <button class="btn btn-primary" (click)="save()">Guardar</button>
  </div>
</div>
