<div *ngIf="item">
  <form class="" action="index.html" method="post">
    <div class="form-group">
      <label for="nombre">Nombre</label>
      <input class="form-control" [(ngModel)]="item.name" name="nombre" placeholder="Nombre">
    </div>
    <div class="form-group">
      <label for="tamaño">Tamaño</label>
      <input class="form-control" [(ngModel)]="item.size" name="Tamaño" placeholder="Tamaño">
    </div>
    <div class="form-group">
      <label for="cantidad">Cantidad</label>
      <input class="form-control" [(ngModel)]="item.quantity" name="Cantidad" placeholder="Cantidad">
    </div>
  </form>
</div>
<div class="right">
  <button class="btn btn-secondary" (click)="goBack()">Volver</button>
  <button class="btn btn-primary" (click)="save()">Guardar</button>
</div>
