<h2>Amigos</h2>
<div class="input-group">
  <input class="form-control" type="text" name="addHero" [(ngModel)]="newHero">
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="add(newHero)" type="button">Agregar</button>
  </div>
</div>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col">Nombre</th>
      <th scope="col">Ubicación</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let hero of heroes">
      <td>
        <a routerLink="/detail/{{hero.id}}">
          {{hero.name}}
        </a>
      </td>
      <td>
        {{hero.location}}
      </td>
      <td>
        <button class="btn btn-danger" title="delete hero"
        (click)="delete(hero)">x</button>
      </td>
    </tr>
  </tbody>
</table>
